@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.app-navbar{
    padding: 0px 25px;
}
    
.app-title{
    font-size: 17px;
    font-weight: 500;
}
.app-menu{
    font-size: 15px;
    font-weight: lighter;
}
.app-spacer{
    padding: 0px 10px;
}

.app-align-right{
    right: 0px;
}

.example-icon {
padding: 0 14px;
}
  
.example-spacer {
flex: 1 1 auto;
}
