<ion-header>
  <mat-toolbar class="app-navbar" color="primary">
    <mat-toolbar-row>
      <span class="app-spacer"></span>
      <span class="app-title">Holocene</span>
      <span class="app-spacer"></span>
      <span class="app-menu">Home</span>
      <span class="app-spacer"></span>
      <span class="app-menu">Stories</span>
      <span class="app-spacer"></span>
      <span class="app-menu">Project</span>      
      <span class="app-spacer"></span>
      <span class="app-menu">About</span>      
      <span class="example-spacer"></span>
      <ion-icon name="logo-instagram"></ion-icon>
      <span class="app-spacer"></span> 
      <ion-icon name="logo-github"></ion-icon> 
      <span class="app-spacer"></span> 
      <ion-icon name="logo-twitter"></ion-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</ion-header>

<ion-content>
      
  <mat-form-field>
    <mat-label>Ionites</mat-label>
    <mat-select [(ngModel)]="ionite" name="ionite">
      <mat-option value="Simon">Simon</mat-option>
      <mat-option value="Max">Max</mat-option>
      <mat-option value="Ben">Ben</mat-option>
    </mat-select>
  </mat-form-field>
</ion-content>
